.applicantList{
    display: flex;
}
.applicantTile{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    height:auto
}
.applicantList{
    
    flex-direction: column-reverse;
}
p{
    display: inline;
}
#delete-btn{
    margin: 2% 35% ;
    display: flex;
    font-size: 17px;
    height:auto;
    text-align: center;
    justify-content: center;
    width:auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color:rgb(252, 85, 85);
    font-weight: bold;
    
}
@media only screen and (min-width: 777px) {
    .applicantTile{
        width:500px;
    }
    .tiles-container{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
  }