.LandingPage{
    height:100vh;
}
.typingHero{
    display: inline;
   
}
.typingHero{
    display: inline;
    font-size: 33px;
    color:rgb(0, 0, 0);
    font-weight: 900;
}
#hero-text{
    font-size: 33px;
    color:rgb(53, 53, 53)
}
#type-effect-text{
    text-align: center;
    width:200px;
}
#app-description{
    display: inline;
    margin: 24px 0px; 
    padding-left:21px;
    padding-right:21px;
    max-width: 700px;
    font-size: 17px;
}
#apply-button{
    margin: 24px 24px;
    width: 270px;
    height:49px;
    font-size: 17px;
    border-radius: 33px;
    background-color: rgb(241, 90, 41);
    color: white;
    border: 1px solid white;
}